@model string

@{ViewBag.Title = "- Admin";}

<script type="text/javascript">
    $(function() {
        $( ".exButton" )
          .button();
    });
</script>

@using (Html.BeginForm("ValidatePassword", "Admin"))
{
<div id="LogInContainer">
    <fieldset>
        <legend>Přihlášení do konfigurace</legend>
            <div>@Html.Label("Heslo")</div>
            <div>@Html.Password("passwordBox")</div>
            <div><button class="exButton">Přihlásit</button></div>
            <div><p>@Model</p></div>
    </fieldset>
</div>
}