<div>
   &copy; 2013 Autoři:
    <ul>
        <li>David Blatský</li>
        <li>Václav Honzík</li>
        <li>Richard Salač</li>
        <li>Tomáš Smola</li>
        <li>Oldřich Štika</li>
    </ul>
    <p>
        Vytvořeno v rámci předmětu <a href="http://geraldine.fjfi.cvut.cz/WORK/Anketa/ZS2012/67_pub/teachers/344373000/" target="_blank">18PVS</a>, pod vedením Jana Doubka.
    </p>
    <p>
        Obsah databáze spravuje <a href="mailto:milan.krbalek[-at-]fjfi.cvut.cz?Subject=MůjRozvrh FJFI" target="_top">Doc. Milan Krbálek</a>. <br />
        Chod a úpravy aplikace zajišťuje <a href="mailto:blatsdav[-at-]fjfi.cvut.cz?Subject=MůjRozvrh FJFI" target="_top">David Blatský</a>.
    </p>
</div>