<script type="text/javascript">
    $(function () {
        $(document).tooltip({ tooltipClass: "export-tooltip-styling", position: { my: "left-430 middle", at: "left middle", collision: "fit" } });
    });

    $(function() {
        $( "a.exButton" )
          .button();
    });
</script>

@{
    var ical = "iCalendar (iCal) je mezinárodní standard pro výměnu kalendářových dat. Lze ho jednoduše importovat do populárních aplikací jako je Apple Calendar, Google Calendar nebo Microsoft Outlook.";
    var svg = "Scalable Vector Graphics (SVG) je vektorový obrázkový formát, podporovaný vetšinou moderních prohlížečů.";
    var xml = "Pokud víte, že budete rozvrh brzo měnit, využijte exportu do našeho xml formátu. Xml soubor si uložte na bezpečné místo, budete ho potřebovat na import do naší aplikace.";
    }

<div class="exportLink">
    @Html.ActionLink("SVG", "ExportToSVG", "Home", new { title = @svg, @class = "exButton" })
    <div class="exportToolip">SVG použijte pokud chcete přehledný obrázek rozvrhu. Pro jeho konverzi do vámi oblibeného formátu (PDF,JPEG,PNG) můžete využít <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics#Online_SVG_converters" target="_blank">webové aplikace</a></div>
</div>


<div class="exportLink">
    @Html.ActionLink("iCal", "ExportToICal", "Home", new { title = @ical, @class = "exButton" })
    <div class="exportToolip">iCal použijte pro import rozvrhu do vašeho kalendáře.</div>
</div>

<div class="exportLink">
    @Html.ActionLink("XML", "ExportToXML", "Home", new { title = @xml, @class = "exButton" })
    <div class="exportToolip">Xml slouží pro zpětný import do této aplikace.</div>
</div>





