@{
    ViewBag.Title = "Úvodní stránka";
}
@section right{
    <div id="tabs">
    <ul><li><a href="#tabs-1">Výběr</a></li><li><a href="#tabs-2">Editace</a></li><li><a href="#tabs-3">Export</a></li></ul>
    <div id="tabs-1">@{Html.RenderPartial("Vyber");}</div>
    <div id="tabs-2">@{Html.RenderPartial("Editace");}</div>
    <div id="tabs-3">@{Html.RenderPartial("Export");}</div>
    </div>
}

@section scripts{
    <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
}
