<div>
    Prohlédni si na videu, co aplikace umí:
    <ul>
        <li><a href="http://www.youtube.com/watch?v=bqCZx-U13qg" target="_blank">Rychlý úvod</a></li> <br />
        <li><a href="http://www.youtube.com/watch?v=bqCZx-U13qg" target="_blank">Filtrování</a></li>
        <li><a href="http://www.youtube.com/watch?v=bqCZx-U13qg" target="_blank">Výběr a úprava hodin</a></li>
        <li><a href="http://www.youtube.com/watch?v=bqCZx-U13qg" target="_blank">Export do obrázku a kalendáře</a></li>
        <li><a href="http://www.youtube.com/watch?v=bqCZx-U13qg" target="_blank">Uložení rozvrhu pro příští úpravy</a></li>
    </ul>
</div>