@model Rozvrh.Models.Model

<canvas id="canvas" width="900px" height="600px"></canvas>

<div id="FiltredTimetableFieds">
    @{
        using (Html.BeginForm("Sort", "Home", System.Web.Mvc.FormMethod.Get))
        {
            var grid = new WebGrid(canSort: true, canPage: false, ajaxUpdateContainerId: "FiltredTimetableFieds");
            grid.Bind(Model.FiltredTimetableFields, rowCount: Model.FiltredTimetableFields.Count, autoSortAndPage: false);

            if (Model.FiltredTimetableFields != null)
            {
        @grid.GetHtml(
                columns: grid.Columns(
                         grid.Column("lecture_acr", "Předmět"),
                         grid.Column("department", "Katedra"),
                         grid.Column("lecturer", "Vyučující"),
                         grid.Column("day", "Den"),
                         grid.Column("time", "Čas"),
                         grid.Column("duration", "Délka"),
                         grid.Column("classroom", "Místnost"),
                         grid.Column("period", "Pravidelnost"),
                    grid.Column(header: "Vybrat", format: @<text><input name="Selector" type="checkbox" checked="checked" /></text>)
                     )
                 )
            }
        }
    }
</div>
