@model MvcApplication1.Models.Model
<table id="Tabulka">
    <tr>
        <th>Předmět</th>
        <th>Vyučující</th>
        <th>Místnost</th>
    </tr>

@foreach (var item in Model.FiltredLectures) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
    </tr>
}
</table>