@model Rozvrh.Models.Model
<table id="Tabulka">
    <tr>
        <th>Předmět</th>
        <th>Vyučující</th>
        <th>Místnost</th>
    </tr>
    @if (Model.TimetableFields != null)
    {
        foreach (var item in Model.TimetableFields)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.predmet_acr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lecturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classroom)
            </td>
        </tr>
        }
    }
</table>
