<?xml version="1.0" encoding="utf-8"?>
<IConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WelcomeMessageFilePath>~/Editable/welcomeMessage.html</WelcomeMessageFilePath>
  <MostRecentTimetableXMLFilePath>~/Editable/14-15-zimni.xml</MostRecentTimetableXMLFilePath>
  <ArchivePath>~/Editable/Archive/</ArchivePath>
</IConfig>