<?xml version="1.0" encoding="utf-8"?>
<IConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LinkToInfo>http://www.km.fjfi.cvut.cz/rozvrh/info.pdf</LinkToInfo>
  <Created>2013-11-13T00:00:00</Created>
  <WelcomeMessage>Vítej v aplikaci MůjRozvrh FJFI! Začni vpravo v sekci Výběr.</WelcomeMessage>
  <SemesterStart>2013-09-23T00:00:00</SemesterStart>
  <SemesterEnd>2013-12-20T00:00:00</SemesterEnd>
  <XMLTimeTablePath>~/Editable/Aktualni_databaze.xml</XMLTimeTablePath>
  <PrefixPoolLink>http://geraldine.fjfi.cvut.cz/WORK/Anketa/ZS2012/67_pub/courses/</PrefixPoolLink>
  <SufixPoolLink />
  <ErrorMessage />
</IConfig>