html {height: 100%; padding: 0px; margin: 0px;}

body {height: 100%; padding: 0; margin: 0;
       font-size: 80%; font-family: Verdana;} 

.clear { clear: both; }


.ui-dialog { font-size: 100% }

#BodyWrapper {  height:100%; margin-left: auto; margin-right: auto;
               -moz-min-width: 1280px; -moz-max-width:1600px; -moz-min-height: 720px; -moz-max-height: 1000px; 
               -ms-min-width: 1280px;-ms-max-width:1600px;  -ms-min-height: 720px; -ms-max-height: 1000px; 
               -o-min-width: 1280px; -o-max-width:1600px; -o-min-height:720px;  -o-max-height:1000px;  
               -webkit-min-width: 1280px; -webkit-max-width:1600px;  -webkit-min-height:720px; -webkit-max-height:1000px;
               min-width: 1280px; max-width:1600px; min-height:720px; max-height:1000px; 
}

#Main {position:relative; height:97%; top:1.5%; left: 1%; width: 98%;}
    
#leftSection {position:relative; height:44%; width:50%; overflow:hidden; float:left;}

#bottomSection {position:relative; height:54%; top:2%; }

#rightSection {position:relative; left:50%; height:44%; width: 50%; }

    #rightSection .exportLink {height: 15%; }

    #rightSection .exportLink .exButton {float: left; width: 10%;  margin-right: 3%;}

    #rightSection .ui-tabs {position:absolute; height:98%; width: 98%; right: 0%;}
    
    #rightSection .ui-tabs .ui-tabs-nav { padding-left: 2%; }

    #rightSection .ui-tabs .ui-tabs-panel {  padding: 2%; font-size:85%; height:84%;}

                                        #AboutTab {float:right; margin-right:2%;}

                                        #TutorialTab {float:right; visibility:hidden;}
     
    #rightSection div.box {position:relative; float: left; margin-right: -1px; height:100%;}   

    #rightSection div.box label { background: #e2e2e2; display: block; text-align:center; width:100%; border: 1px solid #a8a8a8; border-bottom: none; 
                                  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 0.5em 0;}

    #rightSection #filterForm {height: 100%;}

                    a.selectBox {height:84% !important}

    #rightSection #upperLine {height: 8.5%;}

    #rightSection #TimetableArchiveList {width: 52%; height: 100%; float:left;}
             
                    a.selectBox-dropdown {width: 100% !important}  
                    
    div#vyhledavani {position:relative; float:left; width:46%; height:100%;  border:1px solid #aaaaaa; border-radius: 4px; margin-left:1%; background:#f7f7f7; }

            input#SearchedString {width:80%; border:none; padding-left: 10%; height:90%; padding-right:2%; background:#f7f7f7; color:#222222}
            input#SearchedString:focus {outline: none;}              

    #rightSection div.box select {overflow:hidden; width:100%; border: 1px solid #a8a8a8; padding: 0.3em; }                  
   
        div.boxContainer {height:90%; float:left; margin-top:0.7em;}    

        div#prvni.boxContainer {width:21%; margin-right:1%;}
            
            .box#rocnik  {width: 36%; }

            .box#obor  {width: 36%; margin-left:1px;}

            .box#kruh  {width: 28%; margin-left:1px;}

        div#druhy.boxContainer {width:27%; margin-right:1%;}

            .box#katedra  {width: 38%;}

            .box#vyucujici  {width: 62%; margin-left:1px;}

        div#treti.boxContainer {width:27%; margin-right:1%;}

            .box#budova  {width: 49%; }

            .box#mistnost  {width: 51%; margin-left:1px; }

        div#den.boxContainer {width:10%; height:50%; margin-right:1%;}

            div#den.boxContainer .box {width:100%;}

        div#zacatek.boxContainer {width:10%; height:50%;}

            div#zacatek.boxContainer .box {width:100%; }

        
 
    #rightSection div.nomargin { margin: 0; }

    #rightSection div#FilterButtons  {margin: 0.9% 0% 0% 0%; float: left; width: 21%; height: 35%;}

    #rightSection div#FilterButtons button {width: 100%; margin-top:5%; height: 25%;}


#Loading {position:absolute; width: 100%;height: 100%; top:0; left:0; display: none;  border: 1px solid #929292; background: #c2c2c2 no-repeat; -ms-opacity: 0.6; opacity: 0.6; filter: alpha(opacity=60); text-align: center; vertical-align: middle; }

    #Loading span { display: inline-block; height: 100%; vertical-align: middle; }

    #Loading img { display: inline-block; vertical-align: middle; width: 80px; height: 80px; }


#Timetable {position: relative; width:98%; height:98%;  overflow: hidden;  background-color: #f7f7f7; border: 1px solid #a8a8a8;
                                  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: .2em;}

    #Timetable div.content, #TimetableExport div.content {width:auto; height:auto; position:absolute;  }

    #Timetable div.background, #TimetableExport div.background { -ms-opacity: 0.5; opacity: 0.5; position: absolute; }

    #Timetable div.border, #TimetableExport div.border { -ms-opacity: 0.75; opacity: 0.75; position: absolute; border-width: 2px; border-style: solid; width: 100%; height: 100%; line-height: normal; }

    #Timetable button.edit, #Timetable button.delete { border: 1px solid #c2c2c2; display: none; width: 20px; height: 20px; -ms-border-radius: 4px; border-radius: 4px;float: left; }

    #Timetable button.delete { float: right; }

    #List button.add { border: 1px solid #c2c2c2;  width: 20px; height: 20px; -ms-border-radius: 4px; border-radius: 4px; margin-left: 0.5em;}
    
    #rightSection button.resetOne {position:absolute; opacity:0.8; -ms-opacity: 0.8; right:0; top:0; display: none; border: 1px solid #c2c2c2;  width: 20px; height: 20px; -ms-border-radius: 4px; border-radius: 4px; margin:0;}
    
    #searchIcon {position:absolute; opacity:0.8; -ms-opacity: 0.8; left:0; top:50%;  margin-top:-8px; margin-left:4px; margin-right:4px; width: 16px; height: 16px; }

    #Timetable div.name, #TimetableExport div.name { position: absolute; text-align: center; }

        #Timetable div.name div, #TimetableExport div.name div  { font-size: 12px; font-weight: 700; font-family: Arial; line-height: 29px; vertical-align: middle; -ms-text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; -webkit-text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; }

    #Timetable div.small div, #TimetableExport div.small div { font-size: 8px; line-height: 10px; }

    #Timetable div.detailsBackground, #TimetableExport div.detailsBackground { position: absolute; background: white; -ms-opacity: 0.5; opacity: 0.5; }

    #Timetable div.details, #Timetable div.detailsSmall, #TimetableExport div.details, #TimetableExport div.detailsSmall { position: absolute; padding: 2px; font-size: 9px; font-family: Arial; line-height: normal; }

    #Timetable div.detailsSmall, #TimetableExport div.detailsSmall { padding: 1px; font-size: 8px; }

        #Timetable div.details div, #Timetable div.detailsSmall div, #TimetableExport div.details div, #TimetableExport div.detailsSmall div { float: right; margin-right: 2px; }


#backgroundTable { border-spacing: 0; border-collapse: separate;  }

    #backgroundTable div.header div { height: 20px; font-size: 12px; font-family: Arial; font-weight: 400; width: 50px; padding: 0; text-align: center; float: left; }

    #backgroundTable div.header div:first-child { width: 75px; }

    #backgroundTable div.begining, #backgroundTable div.horizontal { height: 49px; width: 725px; border-bottom: 1px solid #ddd; padding: 0; }

    #backgroundTable div.begining { height: 19px; clear: left;width: 735px; }

    #backgroundTable div.horizontal { padding: 0 0 0 10px; vertical-align: middle; min-height: 49px; }

    #backgroundTable div.vertical { height: 290px; width: 49px; border-right: 1px solid #ddd; position: absolute; top: 20px; }


#dialog-form label, #dialog-form input { display: block;width: 100%;}

#dialog-form input { margin-bottom: 5px;}


#List {position:absolute; height:100%; width:100%; bottom:0%; background-color: #f7f7f7;}

#List #welcomeMessage {position: absolute; top:10%; left:1%; width:55%; font-size: 130%;}

#List #fjfiLogo {position: absolute; opacity: 0.5; display: block; top:20%; right:5em; height:60%; content:url(fjfiLogo.gif);}

#List #videoFrame {position: absolute; right:1%; top:8%; width:40%; height:90%; z-index:5;}

#List #table-wrapper { height:100%; border: 1px solid #a8a8a8; border-top-width:0px; position:relative; overflow:hidden;
                                  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

        .fht-tbody {overflow:hidden; position:relative;}


/*ADMIN section*/

div#LogInContainer, div#FormContainer {width: 97%; margin:1.5%; height:100%; position:absolute; z-index:5; }

div#LogInContainer fieldset div, div#FormContainer fieldset div {margin:1% 2%; }

div#LogInContainer fieldset, div#FormContainer fieldset {margin: 1%; width: 38%; float: left; height:30%; background-color: #f7f7f7;}

                                               div#configButtons{clear: both; margin: 1%; width: 28%; height:20%;}

div#FormContainer input {margin: 0% 0% 3% 0%; width: 90%;}

div#FormContainer input.exButton {width: 40%;}

div#FormContainer #WelcomeMessage {width: 100%; min-height: 7em; height: 100%;}
