body { padding: 0; margin: 0; -moz-min-width: 1300px; -ms-min-width: 1300px; -o-min-width: 1300px; -webkit-min-width: 1300px; min-width: 1300px; min-height: 600px; font-size: 14px; font-family: Verdana; }

.clear { clear: both; }

.ui-dialog { font-size: 13px; }

#leftSection { padding: 0 10px 0 10px; }

#rightSection { width: 500px; float: right; margin: 8px; padding-bottom: 0.8em; }

    #rightSection .exportLink { margin-left: 5px; }

    #rightSection .exportToolip { margin: 5px 10px 5px 10px; font-size: 0.9em; width: 90%; padding: 5px 10px; }

    #rightSection .tooltipSelected { background-color: #f1f1f1; }

    #rightSection #tabs { width: 492px; height: 100%; }

    #rightSection .ui-tabs .ui-tabs-nav { padding-left: 0.8em; }

    #rightSection .ui-tabs .ui-tabs-panel { padding: 1em 0 0 0; }

    #rightSection div.boxContainer { float: left; margin-right: 21px; }

    #rightSection div.nomargin { margin: 0; }

    #rightSection div.box { float: left; margin-right: -1px; }

        #rightSection div.box label { background: #e2e2e2; display: block; padding: 5px; width: 83px; border: 1px solid #a8a8a8; border-bottom: none; }

        #rightSection div.box select { width: 95px; border: 1px solid #a8a8a8; padding: 5px; font-size: 0.85em; }

        #rightSection div.box#noscroll ::-webkit-scrollbar { display: none; }

    #rightSection #clearAll { padding: 2px; line-height: 1.8em; }

/*#Tabulka { border-left: 1px solid #a8a8a8; border-top: 1px solid #a8a8a8; width: 100%; padding: 0; border-spacing: 0; clear: both; }

    #Tabulka th, #Tabulka td { text-align: left; padding: 5px; border-bottom: 1px solid #a8a8a8; border-right: 1px solid #a8a8a8; }

    #Tabulka th { border-bottom: 3px #a8a8a8 double; font-weight: 400; }*/

#Loading { position: absolute; width: 490px; display: none; height: 394px; border: 1px solid #929292; background: #c2c2c2 no-repeat; -ms-opacity: 0.6; opacity: 0.6; filter: alpha(opacity=60); text-align: center; vertical-align: middle; }

    #Loading span { display: inline-block; height: 100%; vertical-align: middle; }

    #Loading img { display: inline-block; vertical-align: middle; width: 80px; height: 80px; }


#Timetable { min-height: 400px; }

    #Timetable div.content { position: absolute; top: 10px; left: 10px; }

    #Timetable div.background { -ms-opacity: 0.5; opacity: 0.5; position: absolute; }

    #Timetable div.border { -ms-opacity: 0.75; opacity: 0.75; position: absolute; border-width: 2px; border-style: solid; width: 100%; height: 100%; line-height: normal; }

    #Timetable button.edit, #Timetable button.delete { border: 1px solid #c2c2c2; display: none; width: 20px; height: 20px; -ms-border-radius: 4px; border-radius: 4px;float: left; }

    #Timetable button.delete { float: right; }

    #Timetable div.name { position: absolute; text-align: center; }

        #Timetable div.name div { font-size: 12px; font-weight: 700; font-family: Arial; line-height: 29px; vertical-align: middle; -ms-text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; -webkit-text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; text-shadow: 0 1px white,0 -1px white, 1px 0 white, -1px 0 white,1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; }

    #Timetable div.small div { font-size: 8px; line-height: 10px; }

    #Timetable div.detailsBackground { position: absolute; background: white; -ms-opacity: 0.5; opacity: 0.5; }

    #Timetable div.details, #Timetable div.detailsSmall { position: absolute; padding: 2px; font-size: 9px; font-family: Arial; line-height: normal; }

    #Timetable div.detailsSmall { padding: 1px; font-size: 8px; }

        #Timetable div.details div, #Timetable div.detailsSmall div { float: right; margin-right: 2px; }

#backgroundTable { border-spacing: 0; border-collapse: separate; position: absolute; top: 0; left: 0; }

    #backgroundTable div.header div { height: 20px; font-size: 12px; font-family: Arial; font-weight: 400; width: 50px; padding: 0; text-align: center; float: left; }

        #backgroundTable div.header div:first-child { width: 75px; }

    #backgroundTable div.begining, #backgroundTable div.horizontal { height: 49px; width: 725px; border-bottom: 1px solid #ddd; padding: 0; }

    #backgroundTable div.begining { height: 19px; clear: left;width: 735px; }

    #backgroundTable div.horizontal { padding: 0 0 0 10px; vertical-align: middle; min-height: 49px; }

    #backgroundTable div.vertical { height: 290px; width: 49px; border-right: 1px solid #ddd; position: absolute; top: 20px; }


#dialog-form label, #dialog-form input { display: block;width: 100%;}

#dialog-form input { margin-bottom: 5px;}


footer { background-color: #e2e2e2; border-top: 1px solid #333333; text-align: center; padding: 10px 0; font-size: 0.9em; height: 40px; width: 100%; color: #787878; }

.export-tooltip-styling { max-width: 400px !important; padding: 5px; }

.import-error { text-align:center; height:20px; width:50%;  margin: 0 auto; position: absolute; top: 5px; left: 0; bottom: 0; right: 0; z-index: 999; }

.timetable-tooltip-styling { position: absolute; font-size: 12px; padding: 5px; }

/* tables */
table.tablesorter { font-family: arial; background-color: #CDCDCD; margin: 10px 0pt 15px; font-size: 8pt; width: 100%; text-align: left; }
    table.tablesorter thead tr th, table.tablesorter tfoot tr th { background-color: #e6EEEE; border: 1px solid #FFF; font-size: 8pt; padding: 4px; }
    table.tablesorter thead tr .header { background-image: url(bg.gif); background-repeat: no-repeat; background-position: center right; cursor: pointer; }
    table.tablesorter tbody td { color: #3D3D3D; padding: 4px; background-color: #FFF; vertical-align: top; }
    table.tablesorter tbody tr.odd td { background-color: #F0F0F6; }
    table.tablesorter thead tr .headerSortUp { background-image: url(asc.gif); }
    table.tablesorter thead tr .headerSortDown { background-image: url(desc.gif); }
    table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { background-color: #8dbdd8; }
